// src/styles.scss
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

.highlight-container {
  position: relative;
  display: inline-flex;
  gap: 0.5em;
  font-size: 1.5rem;
  cursor: pointer;
}

.highlight {
  position: absolute;
  bottom: 0;
  height: 0.3em;
  border-radius: 4px;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1));
  z-index: 0;
  transition: all 0.3s ease; /* smooth slide */
}
